html {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 10%;
}

body {
    background-color: white;
    height: 100%;
    width: 100%;
}

header h1 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bolder;
    margin-left: 2%;
    text-align: center;
    background-color: white;
    margin-bottom: 2%;
    margin-top: 1%;
}

.mainFood {
    background-color: rgb(103, 145, 84);
    border-radius: 50px;
}
 

ul {
    list-style-type: circle;
}

#foodName h2 {
    text-align: right;
    margin-right: 20%;
    font-size: 30px;
    font-weight: bold;
    color: black;

}

#foodPicture {
    height: auto;
    width: 100%;
    border: 10px solid white;
    border-radius: 50px;
}

#label {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#calories {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.foodNutrition {
    text-size-adjust: 25px;
}

.nutItem {
    background-color: rgb(137, 210, 252);
}

#recipeList button {
    display: block;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: rgb(103, 145, 84);
    border-radius: 12px;
    border: 2px solid white;
    margin-top: 10px;
    width: 100%;
}

#firstAPI {
    padding-left: 20px;
    background-color: white;
}

.hide {
    display: none;
}

.foodInformation h2 {
    font-size: 125%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    word-wrap: break-word;
}

#savedRecipeBox button {
    list-style-type: circle;
    display: block;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    /* opacity: 0; */
}

#searchButton {
    background-color: rgb(103, 145, 84);
    color: rgb(0, 0, 0);
}

#nutrientsInfo {
    margin-top: 5%;
    padding-left: 20%;
    color: black;
}

#directions {
    word-wrap: break-word;
}
#dietLabels {
    text-align: center;
 }

#dietLabels ul {
    display: inline-block;
    text-align: left;
}

#digest ul {
    columns: 2;
    column-gap: 100px;
    column-rule: 5px double rgb(103, 145, 84);
}

#healthLabels ul {
    columns: 2;
    column-gap: 100px;
    column-rule: 5px double rgb(103, 145, 84);
}



/* Below is just playing with button css */
/* .test {
    height: 200px;
    width: 200px;
    background-color: rgb(103, 145, 84);
    box-shadow: 0px 10px 8px black;
    border-radius: 12px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline-offset: 4px;
}

@keyframes turnIt {
    0% {width: 200px;
    height: 200px;}
    50% {width: 300px;
    height: 300px;}
    100% {width: 200px;
        height: 200px;}
}

.test:hover {
    animation-name: turnIt;
    animation-duration: 10s;
    transform: translateX(6px)
    translateY(-6px)
    rotateZ(360deg);
    transition-duration: 10s;
}

.test:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.button {
    box-shadow: 0px 2px 8px rgb(103, 145, 84), 0px 3px 8px rgb(206, 206, 206), 0px 5px 8px rgb(103, 145, 84);
}

.button:hover {
    transform: rotateZ(360deg);
    transition-duration: 10s;
} */

a:link {
    color: rgb(117, 0, 0);
}

a:visited {
    color: rgb(0, 0, 0);
}

a:hover {
    color: rgb(80, 80, 80);
}

#savedRecipeBox button {
    margin-left: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(103, 145, 84);
    color: rgb(0, 0, 0);
    border-radius: 12px;
    border: 2px solid;
    border-color: rgb(103, 145, 84);
    cursor: pointer;
}