

body {
    background-color: bisque;
    padding: 15px 0 0 15px;
}

header h1 {
    color: rgb(112, 173, 5);
    font-size: 50px;
    font-weight: bolder;
}

#foodName {
    text-align: center;
}

#foodPicture {
    padding: 25px 25px 200px 200px;  
}

.foodNutrition {
    text-size-adjust: 25px;
}

.nutItem {
    background-color: rgb(137, 210, 252);
}

#recipeList button {
    background-color: rgb(12, 145, 0);
    font-weight: bolder;
    font-size: 25px;
}

#firstAPI {
    padding-left: 20px;
}

#label {
    font-size: 40px;
}

.foodInformation h2 {
    color: blueviolet;
    font-weight: bold;
}